<!--==========================
  About Section
============================-->
<section id="about" class="secttion section-about grey lighten-4 green-text center scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <img src="{{ site.baseurl }}/static/images/me.jpg" alt="" class="circle responsive-img">
        <!-- notice the "circle" class -->
      </div>
    </div>
  </div>

<div class="section section-icons grey lighten-4 center" >
  <div class="container">
    <div class="row">
      <div class="col s12 m3">
        <div class="card-panel green lighten-5">
          <i class="fas fa-code fa-4x"></i>
          <h4>Web Developer</h4>
          <p>My favorite toools: Django, Flask, React, SQLAlchemy</p>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card-panel green lighten-5">
          <i class="fab fa-python fa-4x"></i>
          <h4>Data Analyst</h4>
          <p>Inspired by thoes tools: Numpy, Pandas, Matplotlib, Seaborn</p>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card-panel green lighten-5">
          <i class="fab fa-bitcoin fa-4x"></i>
          <h4>Blockchain</h4>
          <p>Payment Processing, Trading, Application development </p>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card-panel green lighten-5">
          <i class="fab fa-umbrella fa-4x"></i>
          <h4>Other Skills</h4>
          <p>Java, PHP, CSS, HTML, Mandarin</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
