<section id="about">
  <div id='home_header' class="white-text">
    <div class="container">
      <h3 class="white-text">Adriana</h>
      <h5>Software Engineer
        <small class="deep-purple-text">Blockchain Enthusiast</small>
      </h5>
      <div class="flow-text">
        Welcome to my digital portfolio. This is where I showcase all the cool projects that I have enjoyed working on lately. Please
        feel free to contact me.
      </div>
      <div class='action-button'>
        <a class="waves-effect waves-light btn pulse btn-large green darken-1 navbutton" href="{{ site.baseurl }}/#projects">Project</a>
        <a class="waves-effect waves-light btn pulse btn-large green darken-1 navbutton" href="{{ site.baseurl }}/#posts">Blog</a>
        <br>
        <br>
        <a class="btn-floating btn-large waves-effect waves-light deep-purple" href="https://github.com/Adrianacmy">
          <i class="fab fa-github-alt"></i>
        </a>
        <a class="btn-floating btn-large waves-effect waves-light deep-purple" href="https://www.linkedin.com/in/adrianacmy/">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>
</section>