
<!--=============
  Education Section
=================-->
  <section id="education">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Professional Education</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Courses that facinating me, thus I dived into it.</p>
        </div>
      </div><hr>

       <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">BRIDGING MODULE</h3>
           <div class="section-title-divider"></div>
          <p class="section-description">Bridging key knowledge gaps. Programming, computer science, and discrete mathematics</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="member">
            <a href="https://www.class-central.com/mooc/1496/edx-introduction-to-probability-the-science-of-uncertainty">
                <div class="pic img-thumbnail"><img src="static/img/cources-st.jpg" alt=""></div>
                    <h4>INTRODUCTION TO PROBABILITY</h4>
                <span>STATUS: 100% COMPLETE</span>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="member">
            <a href="https://www.coursera.org/learn/interactive-python-1?siteID=SAyYsTvLiGQ-Sgl5I4oJDNk50UP2L7_BNg&utm_content=10&utm_medium=partners&utm_source=linkshare&utm_campaign=SAyYsTvLiGQ">
                <div class="pic img-thumbnail"><img src="static/img/course-python.jpg" alt=""></div>
                    <h4>AN INTRO TO INTERACTIVE PROGRAMMING IN PYTHON</h4>
                <span>STATUS: 100% COMPLETE</span>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="member">
            <a href="https://www.udacity.com/course/intro-to-computer-science--cs101?utm_medium=referral&utm_campaign=api">
                <div class="pic img-thumbnail"><img src="static/img/course-cs.png" alt=""></div>
                    <h4>INTRO TO CS</h4>
                <span>status: 100% complete</span>
            </a>
          </div>
        </div>

      </div><hr> <!-- #.row -->

      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">DATA ANALYSIS</h3>
           <div class="section-title-divider"></div>
           <!-- <hr> -->
          <p class="section-description">The fundamentals</p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">
          <div class="member">
            <a href="https://www.class-central.com/mooc/1496/edx-introduction-to-probability-the-science-of-uncertainty">
                <div class="pic img-thumbnail"><img src="static/img/course-data-ana.png" alt=""></div>
                    <h4>DATA ANALYST NANODEGREE</h4>
                <span>STATUS: NOT START YET</span>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="member">
            <a href="https://www.class-central.com/mooc/1496/edx-introduction-to-probability-the-science-of-uncertainty">
                <div class="pic img-thumbnail"><img src="static/img/course-data-mongo.png" alt=""></div>
                    <h4>MONGODB WITH DATA ANALYSIS </h4>
                <span>STATUS: NOT START YET</span>
            </a>
          </div>
        </div>

         <div class="col-md-4">
            <p>Listed below are the individual courses contained within the Nanodegree:</p>
            <ul>
                <a href=""><li>Intro to Descriptive Statistics</li></a>

                <a href=""><li> Intro to Data Analysis (Using NumPy and Pandas)  </li></a>
                <a href=""><li>Data Wrangling</li></a>
                <a href=""><li>SQL for Data Analysis</li></a>
                <a href=""><li>MongoDB for Data Analysis</li></a>
                <a href=""><li>Data Analysis with R</li></a>
                <a href=""><li>Intro to Machine Learning</li></a>
                <a href=""><li>Data Visualization and D3.js</li></a>
                <a href=""><li>A/B Testing</li></a>
            </ul>
         </div>
    </div><hr><!-- #.row -->

    <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">SOFTWARE DEVELOPMENT</h3>
           <div class="section-title-divider"></div>
          <p class="section-description">Bridging key knowledge gaps. Programming, computer science, and discrete mathematics</p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">
          <div class="member">
            <a href="https://www.class-central.com/mooc/1496/edx-introduction-to-probability-the-science-of-uncertainty">
                <div class="pic img-thumbnail"><img src="static/img/course-lc.png" alt=""></div>
                    <h4>LC101</h4>
                <span>STATUS: 100% COMPLETE</span>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="member">
            <a href="https://www.coursera.org/learn/interactive-python-1?siteID=SAyYsTvLiGQ-Sgl5I4oJDNk50UP2L7_BNg&utm_content=10&utm_medium=partners&utm_source=linkshare&utm_campaign=SAyYsTvLiGQ">
                <div class="pic img-thumbnail"><img src="static/img/course3.jpg" alt=""></div>
                    <h4>AN INTRO TO INTERACTIVE PROGRAMMING IN PYTHON</h4>
                <span>STATUS: 100% COMPLETE</span>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="member">
            <a href="https://www.udacity.com/course/intro-to-computer-science--cs101?utm_medium=referral&utm_campaign=api">
                <div class="pic img-thumbnail"><img src="static/img/course4.jpg" alt=""></div>
                    <h4>INTRO TO CS</h4>
                <span>status: 100% complete</span>
            </a>
          </div>
        </div>

      </div><hr> <!-- #.row -->

    </div>
  </section>
