<!--==============
  Header Section
==================-->
  <header id="header">
    <div class="container wow fadeInUp">
      <div id="logo">
            <div class="navbar-header">
          <a class="navbar-brand brand-text" href="#">Adrianacmy</a>
        </div>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#">HOME</a></li>
          <li><a href="#">PROJECTS</a></li>
          <li><a href="#">PROFESSIONAL EDUCATION</a></li>
          <li class="menu-has-children"><a href="#">BLOG</a>
                <ul>
                  <li><a href="#">CATEGORY 1</a></li>
                  <li><a href="#">CATEGORY 2</a></li>
                  <li><a href="#">CATEGORY 3</a></li>
                </ul>
          </li>

        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
