 <header id="header">
    <div class="container wow fadeInUp">
  <div class="row">
      <div id="logo" class="pull-left">
        <i class="em em-joy"></i>
        <i class="em em-cherry_blossom"></i>
        <i class="em em-astonished"></i>
        <i class="em em-anguished"></i>
        <i class="em em-alien"></i>
        <i class="em em-bowtie"></i>
        <i class="em em-two_hearts"></i>
        <i class="em em-blush"></i>
        <i class="em em-innocent"></i>
        <i class="em em-kissing_face"></i>
        <i class="em em-stuck_out_tongue_winking_eye"></i>
        <i class="em em-yellow_heart"></i>
        <i class="em em-sunglasses"></i>
        <i class="em em-thought_balloon"></i>
        <i class="em em-heart_eyes"></i>
        <i class="em em-no_mouth"></i>
        <i class="em em-sweat_smile"></i>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/index">Home</a></li>
          <li class="menu-has-children"><a href="{{ site.baseurl }}/projects/">Projects</a>
             <ul>
              <li><a href="{{ site.baseurl}}/posts/">Blogz</a></li>
              <li><a href="#">Plantshop</a></li>
              <li><a href="#">Techjobs</a></li>
            </ul>
          </li>

           <li class="menu-has-children"><a href="{{ site.baseurl }}/education/">Education</a>
             <ul>
              <li><a href="{{ site.baseurl}}/posts/">Blogz</a></li>
              <li><a href="#">Plantshop</a></li>
              <li><a href="#">Techjobs</a></li>
            </ul>
          </li>

          <li class="menu-has-children"><a href="{{ site.baseurl }}/posts/">Blog</a>
            <ul>
              <li><a href="#">Web Development</a></li>
              <li><a href="#">Data Science</a></li>
              <li><a href="#">Reality</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a href="">Me</a>
            <ul>
              <li><a href="#">Resume</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
    </div>
  </header><!-- #header -->
