 <header id="header">
    <div class="container wow fadeInUp">
  <div class="row">
      <div id="logo" class="pull-left">
        <i class="em em-joy"></i>
        <i class="em em-cherry_blossom"></i>
        <i class="em em-astonished"></i>
        <i class="em em-anguished"></i>
        <i class="em em-alien"></i>
        <i class="em em-bowtie"></i>
        <i class="em em-two_hearts"></i>
        <i class="em em-blush"></i>
        <i class="em em-innocent"></i>
        <i class="em em-kissing_face"></i>
        <i class="em em-stuck_out_tongue_winking_eye"></i>
        <i class="em em-yellow_heart"></i>
        <i class="em em-sunglasses"></i>
        <i class="em em-thought_balloon"></i>
        <i class="em em-heart_eyes"></i>
        <i class="em em-no_mouth"></i>
        <i class="em em-sweat_smile"></i>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/index">Home</a></li>
          <li class="menu-has-children"><a href="{{ site.baseurl }}/projects/">Projects</a>
             <ul>
             {% for project in site.data.projects %}
              <li><a href="{{ project.link }}">{{ project.title }}</a></li>
             {% endfor %}
            </ul>
          </li>

           <li class="menu-has-children"><a href="{{ site.baseurl }}/education/">Education</a>
             <ul>
             {% for education in site.data.education-bridge %}
                 {% if education.folder %}
                    <li><a href="{{ education.link }}">{{ education.folder }}</a></li>
                 {% endif %}
             {% endfor %}
              {% for education in site.data.education-data %}
                  {% if education.folder %}
                      <li><a href="{{ education.link }}">{{ education.folder }}</a></li>
                   {% endif %}
             {% endfor %}
              {% for education in site.data.education-web %}
                 {% if education.folder %}
                    <li><a href="{{ education.link }}">{{ education.folder }}</a></li>
                 {% endif %}
             {% endfor %}
            </ul>
          </li>

          <li class="menu-has-children"><a href="{{ site.baseurl }}/posts/">Blog</a>
            <ul>
              {% for cate in site.categories %}
              <li><a href="{{ site.baseurl}}/posts/{{ cate }}">{{ cate }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="menu-has-children"><a href="{{ site.baseurl}}/cv/">Me</a>
            <ul>
              <li><a href="{{ site.baseurl }}/cv/">Resume</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
    </div>
  </header><!-- #header -->
