  <div class="navbar-fixed">
    <nav class="green darken-3">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo white-text">Adrianacmy</a>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons white-text">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="{{ site.baseurl }}/#about" class="white-text">Home</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/#projects" class="white-text">Projects</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/#posts" class="white-text">Blog</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/#about" class="white-text">About</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/#contact" class="white-text">Contact</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
  </div>

  <ul class="sidenav" id="mobile-nav">
      <li><div class="user-view">
         
          <a href="#user"><img class="circle" src="{{ site.baseurl }}/static/images/bp.png"></a>
          <a href="#name"><span class="name">Adrianacmy</span></a>
          <a href="#email"><span class="email">iamadrianachen@gmail.com</span></a>
          <hr>
        </div></li>
    <li>
      <a href="{{ site.baseurl }}/#home">Home</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/#projects">Projects</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/#posts">Journal</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/#about">About</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/#contact">Contact</a>
    </li>
  </ul>