<section id="posts">
  <div class="container posts-container ">
    <hr>
    <div class="row">
      <div class="col s12">
        <h3 class="center">All Posts</h3>
        <br>
        <p class="center">Once upon a time, there was a mountain in which there was a temple in which an old monk was telling the stories.</p>
      </div>


      <div class="row center">
        {% for cate in links %}
        <button class="btn center">{{cate.name}}</button>
        {% endfor %}
      </div>
      <ul class="tag-box">
        {% assign tags_list = site.tags %} {% if tags_list.first[0] == null %} {% for tag in tags_list %}
        <li>
          <a href="{{site.baseurl}}/tags/index#{{ tag }}">{{ tag }}
            <span>{{ site.tags[tag].size }}</span>
          </a>
        </li>
        {% endfor %} {% else %} {% for tag in tags_list %}
        <li>
          <a href="{{site.baseurl}}/tags/index#{{ tag[0] }}">{{ tag[0] }}
            <span>{{ tag[1].size }}</span>
          </a>
        </li>
        {% endfor %} {% endif %} {% assign tags_list = nil %}
      </ul>

      <div class="row center">
        <div class="col-md-8 col-md-offset-2">
          <img class="responsive-img " alt="yixiu" src="{{ site.baseurl }}/static/images/yixiu.jpg"></img>
        </div>
      </div>
    </div>



    {% for post in site.posts limit:6 %}
    <div class="post-area">
      <a href="{{ site.baseurl }}{{ post.url}}" class="bold">{{ post.title }}</a>
      <p class="post-date">{{ post.date | date_to_long_string }}</p>
      <p>
        {{ post.content | strip_html | truncatewords: 50 }}
      </p>
    </div>
    {% endfor %}

    <div class="row">
      <div class="col s12 center">
        <a href="{{site.baseurl}}/tags/index">
          <i class="em em-angel"></i>
          <a class="btn-floating btn-large waves-effect waves-light green lighten-1" href="{{site.baseurl}}/tags/index"><i class="material-icons">add</i></a>  
        </div>
        </a>
      </div>
    </div>

  </div>
</section>