
<!--==========================
  Project Section
============================-->
  <section id="education">
    <div class="container"><hr>
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Projects</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Some interesting and inspiring projects I built along the way.</p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">
          <div class="member">
            <div class="pic img-thumbnail"><iframe height="315" src="https://www.youtube.com/embed/2m-hp1oy7NI" frameborder="0" allowfullscreen></iframe></div>
            <h4>build a blog</h4>
            <div>keywords: flask, sqlalchemy</div>
            <div><a href="">CODE</a>&nbsp; &nbsp;<a href="">LIVE</a></div>
          </div>
        </div>


       <div class="col-md-4">
          <div class="member">
            <div class="pic img-thumbnail"><img src="static/img/project-bb.png" alt=""></div>
            <h4>BUILD A BLOG</h4>
            <div>KEYWORDS:FLASK, JINJA, SQLALCHEMY</div>
            <div><a href="">CODE</a>&nbsp; &nbsp;<a href="">LIVE</a></div>
          </div>
        </div>

       <div class="col-md-4">
          <div class="member">
            <div class="pic img-thumbnail"><img src="static/img/project-twitter.png" alt=""></div>
            <h4>BUILD A BLOG</h4>
            <div>KEYWORDS:FLASK, JINJA, SQLALCHEMY</div>
            <div><a href="">CODE</a>&nbsp; &nbsp;<a href="">LIVE</a></div>
          </div>
        </div>
       </div><br><hr><!-- #.row -->

       <div class="row">

        <div class="col-md-4">
          <div class="member">
            <div class="pic img-thumbnail"><img src="static/img/slider-bg.jpg" alt=""></div>
            <h4>BUILD A BLOG</h4>
            <div>KEYWORDS:FLASK, JINJA, SQLALCHEMY</div>
            <div><a href="">CODE</a>&nbsp; &nbsp;<a href="">LIVE</a></div>
          </div>
        </div>


       <div class="col-md-4">
          <div class="member">
            <div class="pic img-thumbnail"><img src="static/img/ph1.jpg" alt=""></div>
            <h4>BUILD A BLOG</h4>
            <div>KEYWORDS:FLASK, JINJA, SQLALCHEMY</div>
            <div><a href="">CODE</a>&nbsp; &nbsp;<a href="">LIVE</a></div>
          </div>
        </div>

       <div class="col-md-4">
          <div class="member">
            <div class="pic img-thumbnail"><img src="static/img/ph3.jpg" alt=""></div>
            <h4>BUILD A BLOG</h4>
            <div>KEYWORDS:FLASK, JINJA, SQLALCHEMY</div>
            <div><a href="">CODE</a>&nbsp; &nbsp;<a href="">LIVE</a></div>
          </div>
        </div>
       </div><!-- #.row -->
    </div>
  </section>
