
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var sidenav = document.querySelectorAll('.sidenav');
      var instancesSidenav = M.Sidenav.init(sidenav, {});

      var sliders = document.querySelectorAll('.slider');
      var instancesSlider = M.Slider.init(sliders, {
        indicators: false,
        height: 400,
        transition: 500,
        interval: 6000
      });

      var mb = document.querySelectorAll('.materialboxed');
      var instanceMb = M.Materialbox.init(mb, {});

      const ss = document.querySelectorAll('.scrollspy');
      M.ScrollSpy.init(ss, {});


    });
  </script>


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <!-- Template Specisifc Custom Javascript File -->
  <script src="{{ site.baseurl }}/static/js/custom.js"></script>
<!---->
    {% if page.comments %}{% include disqus_comments.html %}{% endif %}
