<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
         <div class="animated fadeInUp slider-text">
            <p >"Debugging is twice as hard as writing the code in the
            first place. Therefore,

            <!--<p class="text-right">&#45;&#45; Brian W. Kernighan.</p>-->
        </div>

          <div class=" slider-text">
            <p >"Debugging is twice as hard as writing the code in the


            <!--<p class="text-right">&#45;&#45; Brian W. Kernighan.</p>-->
        </div>
           
      </div>
    </div>
  </div>
</section>
