<section id="slider">
  <div class="">
    <div class="row">
      <div class="col-md-6">
        <!--<div class="block">-->
         <blockquote class="animated fadeInUp hero-text">
            <p>"Debugging is twice as hard as writing the code in the
            first place. Therefore, if you write the code as
            cleverly as possible, you are, bydefinition, not smart enough
            to debug it."
            <p class="text-right">-- Brian W. Kernighan.</p>
        </blockquote>
          <!--<h1 class="animated fadeInUp">A DIGITAL MARKETING &#38; <br> DESIGN AGENCY</h1>-->
          <!--<p class="animated fadeInUp">We love the Web and the work we do. We work closely with our clients to deliver the best possible solutions for their needs</p>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</section>
