
  <!--section slider-->
  <div class="slider" id="slider">
    <ul class="slides">
      <li>
        <img src="{{ site.baseurl }}/static/images/blur.jpg">
        <!-- random image -->
        <div class="caption center-align">
          <h3><code class="left">>>> from __future__ import braces</code></h3>
          <h5 class="light text-lighten-1 hide-on-small-only"><code class="left">Traceback (most recent call last):<br>
              SyntaxError: not a chance (python, line 1)</code>
              </h5>
        </div>
      </li>
      <li>
        <img src="{{ site.baseurl }}/static/images/green6.jpg">
        <!-- random image -->
        <div class="caption center-align">
          <h3><code>>>> import antigravity</code></h3>
          <h5 class="light text-lighten-3 hide-on-small-only"><code># This should open <a href="http://xkcd.com/353/"> this link</a> </code></h5>
        </div>
      </li>
      <li>
        <img src="{{ site.baseurl }}/static/images/blur3.jpg">
        <!-- random image -->
        <div class="caption center-align green-text text-darken-4 right">
          <h3>Programmer:</h3>
          <h5 class="light ggreen-text text-darken-4 hide-on-small-only">A machine that turns coffee into code</h5>
        </div>
      </li>
      <li>
        <img src="{{ site.baseurl }}/static/images/spring7.jpg">
        <!-- random image -->
        <div class="caption center-align green-text text-darken-3">
          <h3>Algorithm:</h3>
          <h5 class="light green-text text-darken-3 hide-on-small-only">Words used by programmers when they do not want to explain what they did</h5>
        </div>
      </li>
    </ul>
  </div>