
<!--=================
  Subscrbe Section
=====================-->
  <section id="subscribe">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Want to hire me?</h3>
          <p class="subscribe-text">I am a highly motivated team player, and be able to present and share ideas.</p>
        </div>
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" href="{{site.baseurl}}/cv">Contact Now</a>
        </div>
      </div>
    </div>
  </section>
