/* General
----------------------------------------*/
body {
  color: #333;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #333;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #e88bda;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

hr {
 border: 0.05px dotted #cce0ba;
}
/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(60, 93, 64, 0.88);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.22);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #e88bda;
  color: #fff;
}





/*Sections
--------------------------------*/
/* Sections Common
--------------------------------*/

/*About Section
--------------------------------*/




#slider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #8df45d, #346652);
  opacity: 0.6;
}


/*posts*/
#posts, #tags, #cv{
  background-color:#e3f4c6;
}
#tags{
  padding-top: 4rem;
  padding-bottom: 5rem;
}

#posts{
  padding-top:5rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
}
#cv img{
     opacity: 0.069;
     filter: alpha(opacity=695)

}
#posts img {
    opacity: 0.09;
    filter: alpha(opacity=9);
    -webkit-filter: alpha(opacity=9);
}

.more {
    margin: 2em 0;
    background: #f7e6f5;
    padding: 1em;
    border-radius: 60%;
}

.italic {
   font-style: italic;
   margin-bottom: 4em;
 }

.bold {
   font-weight: 800px;
 }

.center-text {
   text-align: center;
 }

.post-area {
  padding: 40px;
  width: 100%;
  min-height: 150px;
  border-bottom: 1px dotted #999;
}

.post-area a:link, .post-area a:visited {
  font-size: 30px;
  color: #333;
}

.post-area a:hover {
  color: #0D0017;
}

/*post*/
/*--
	wrapper Start
--*/
.post {
    background-color: #e3f4c6;
}
#intro {
  padding: 100px 0;
}
#intro .block h2 {
  padding-top: 35px;
  line-height: 27px;
  margin: 0;
}
#intro .block p {
  color: #7B7B7B;
  padding-top: 20px;
}
#intro .block img {
  padding-left: 40px;
  width: 100%;
}
#intro .section-title {
  margin-bottom: 0px;
}
#intro .section-title p {
  padding-top: 20px;
}


/*tags*/
.tag-box {
    padding: 0.5em 0 0.5em 10em;
    overflow: hidden;
    list-style: none;
    *zoom: 1;
}

.tag-box:after,.tag-box:before {
    display: table;
    line-height: 0;
    content: "";
}

.tag-box:after {
    clear: both;
}

.tag-box.inline li {
    float: left;
    font-size: 14px;
    line-height: 2.5;
}

.tag-box a {
    padding: 4px 6px;
    margin: 2px;
    text-decoration: none;
    background-color: #f9eaf8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: 
}

.tag-box a span {
    font-size: 14px;
    vertical-align: super;
}
.icon-tags:before {
  content: "\f02c";
}


/* */

.post-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.post-list li {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
    border-bottom: 1px dotted rgba(0,0,0,.1);
    *zoom: 1;
}

.post-list li:after,.post-list li:before {
    display: table;
    line-height: 0;
    content: "";
}

.post-list li:after {
    clear: both;
}

.post-list a>span {
    float: right;
}

.post-list .entry-date {
    display: none;
    font-size: 14px;
    text-transform: capitalize;
}

@media only screen and (min-width:48em) {
    .post-list .entry-date {
        display: inline;
    }
}

.tags-posts {
    margin: 2em 0;
}

.tags-posts span {
    color: #3c5e3f;
    font-size:2em;
    font-weight: 400px;
}

/**
  disqus
*/
#disqus_thread {
    margin-top: 10em;

}
.cv {
    background-color: #e3f4c6;
    z-index: -1;
}
