---
layout: default
---

  <section id="education">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Professional Education</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Courses that facinating me, thus I dived into it.</p>
        </div>
      </div>

     {% include education-web.html %}
     {% include education-data.html %}
     {% include education-bridge.html %}

    </div>
  </section>
