---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section id="intro" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <h3 class="center">{{ page.title }}</h3>
            <div class="post-info-wrapper">
              <p class="italic center">By <span class="bold">{{ page.author }}</span> on <span class="bold">{{ page.date | date: "%B %-d, %Y" }}</span></p>
            </div>
            <hr />
            <p class="post-content">{{ content }}</p>

            {% assign tagsize = page.tags.size %}
              {% if tagsize != 0 %}
              <div class="entry-tags text-center">
                <i class="icon-tags"></i>&nbsp;Tagged with {% for tag in page.tags %}<a href="{{ site.url }}/tags/index.html#{{ tag | cgi_encode }}" data-toggle="tooltip" title="Posts tagged with {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}
              </div>
              {% endif %}
          </div>
        </div><!-- .col-md-7 close -->
      </div>
        <div class="row">

        {% if site.disqus_shortname and page.comments == true %}<div id="disqus_thread"></div><!-- /#disqus_thread -->{% endif %}

        </div>
    </div>
  </section>
</div>
